.idea/**
Sekhavat/Sekhavat/static/components/**
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
*.pyc
**/*.pyc
Sekhavat/node_modules/**
Shame/cache/**
**/*.orig
Sekhavat/db.sqlite3
Khadem/platforms/**
