<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    {% block  jscss %}
        <link rel="stylesheet" href="{% static "bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "bootstrap-theme.css" %}">
        <link rel="stylesheet" href="{% static "bootstrap-rtl.css" %}">
        <link rel="stylesheet/less" type="text/css" href="{% static 'global.less' %}" />

        <script src="{% static "components/jquery/dist/jquery.js" %}"></script>
        <script src="{% static "components/less/dist/less-1.7.3.js" %}"></script>
        <script src="{% static "google-maps.js" %}"></script>
        <script src="{% static "global.js" %}"></script>
        <script src="{% static "components/gmaps/gmaps.js" %}"></script>
        <script src="{% static "components/bootstrap/dist/js/bootstrap.js" %}"></script>
        <script src="{% static "components/chartjs/Chart.js"  %}"></script>
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
