{% extends 'layout.html' %}
{% load staticfiles %}

{% block jscss %}
    {{ block.super }}
    <script src="{% static 'components/bootstrap3-typeahead/bootstrap3-typeahead.js' %}"></script>

    <script type="text/javascript">
           function checkConfirmValidity(inp){
{#               console.log(a);#}
                var pass = $('#password').val();
                var repass = $('#repassword').val();
                if ( pass != repass ) {
                    inp.setCustomValidity("رمز عبور و تکرار آن یکسان نمی‌‌باشند.");
                } else {
                    inp.setCustomValidity("");
                }
            }

    </script>

    <script type="text/javascript">
        $(function () {
            $('#changeInfo').click(function (e) {
                e.preventDefault();
                var $form = $( "#editInformationOnSekhavat" ),
                pass = $form.find( "input[name='currentPassword']" ).val(),
                newpass = $form.find("input[name='password']").val(),
                csrf = $form.find( "input[name='csrfmiddlewaretoken']" ).val();

                var posting = $.post( "/passwordChecking", { password: pass , csrfmiddlewaretoken:csrf ,  newpassword:newpass } );

                posting.done(function( data ) {
                    console.log(data);
                    if (data == "wrong"){
                        document.getElementById("wrong").style.display = "block";
                        document.getElementById("success").style.display = "none";
                    } else{
                        document.getElementById("success").style.display = "block";
                        document.getElementById("wrong").style.display = "none";
                    }

                 });

            });
        });
    </script>

    <style>
    .notif {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid grey;
    }
    </style>
{% endblock %}

{% block menu %}
    {% include 'managers/menu.html' %}
{% endblock %}

{% block breadcrumb %}
    <li>
    صفحه نخست
    </li>
    <li>
        ویرایش مشخصات فردی
    </li>
{% endblock %}


{% block container %}
{#    <div style="text-align: center; margin-bottom: 20px"><h4><span class="label label-warning" id="conn_status">New</span></h4></div>#}


    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                       <div class="panel-heading">
تغییر رمز عبور
                       </div>
                    <div class="panel-body">
                    <form method="post"  class="form-horizontal" role="form" id="editInformationOnSekhavat">
                        {% csrf_token %}
                        <div class="alert alert-warning" style="display: none" name="success" id="success">
         عملیات تغییر رمز عبور به درستی انجام شد
                        </div>
                        <div class="alert alert-warning" style="display: none" name="wrong" id="wrong">
            رمز عبور قبلی به درستی وارد نشده است
                        </div>
                        <div class="form-group">
                            <label for="newPhoneNumber" class="col-sm-3 control-label">تلفن همراه</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="newPhoneNumber"
                                       oninvalid="setCustomValidity('شماره تلفن همراه ۱۱ رقمی است و با ۰۹شروع میشود')"
                                       onchange="try{setCustomValidity('')}catch(e){}" pattern = "[0۰][۹9][0-9۰-۹]{9}" placeholder="تلفن همراه" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="currentPassword" class="col-sm-3 control-label">   رمز عبور فعلی</label>
                            <div class="col-sm-9">
                                <input id="currentPassword" name="currentPassword" type="password" class="form-control"
                                       oninvalid="setCustomValidity('طول پسورد لااقل بایستی ۸ و حداقل یک حرف و رقم انگلیسی داشته باشد')"
                                       onchange="try{setCustomValidity('')}catch(e){}"
                                       pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-zA-Z]).*$" placeholder="رمز عبور" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-3 control-label"> رمز عبور جدید</label>
                            <div class="col-sm-9">
                                <input id="password" name="password" type="password" class="form-control"
                                       oninvalid="setCustomValidity('طول پسورد لااقل بایستی ۸ و حداقل یک حرف و رقم انگلیسی داشته باشد')"
                                       onchange="try{setCustomValidity('')}catch(e){}"
                                       pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-zA-Z]).*$" placeholder="رمز عبور" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="repassword" class="col-sm-3 control-label">تکرار رمز عبور جدید</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" onchange="checkConfirmValidity(this)" id="repassword" name="repassword" placeholder="تکرار رمز عبور"required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <button type="submit" id="changeInfo" class="btn btn-default">ثبت  تغییرات</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
