{% extends "layout.html" %}
{% load staticfiles %}

{%block jscss%}
  {{block.super}}


{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron" style="text-align: center">
                <img src="{% static "Logo.png" %}" width="95" height="60">
                <h4>
                    به سامانه‌ی یکپارچه‌ی خدمات الکترونیکی پیوند با همکاران (سخاوت) خوش آمدید.
                </h4>
                <hr>
                <a href="{% url "login" %}" class="btn btn-success btn-lg" role="button">
                    ورود به سامانه
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron" style="text-align: center">
                <span class="glyphicon glyphicon-phone" style="font-size: 70px"></span>
                <br>
                <p>
                با نصب برنامه‌ی خادم بر روی تلفن همراه هوشمند خود بدون استفاده از اینترنت به شام‌تارا درخواست امداد دهید.
                </p>
                <br><br>
                <hr>
                <p><a href="/static/apps/Khadem.apk" class="btn btn-primary btn-lg btn-block" role="button">
                    <span class="glyphicon glyphicon-download"></span>
                    دانلود برنامه‌ی خادم
                </a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron" style="text-align: center">
                <span class="glyphicon glyphicon-road" style="font-size: 70px"></span>
                <br>
                <p>
                    امدادگرانی که شرکت امدادرسان آن‌ها عضو شبکه‌ی شام‌تارا می‌باشد با دریافت برنامه‌ی «بکهام» می‌توانند از امکانات این برنامه استفاده کنند.
                </p>
                <hr>
                <p><a href="/static/apps/beckham.apk" class="btn btn-primary btn-lg btn-block" role="button">
                    <span class="glyphicon glyphicon-download"></span>
                    دانلود برنامه‌ی بکهام
                </a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron" style="text-align: center">
                <span class="glyphicon glyphicon-bookmark" style="font-size: 70px"></span>
                <br>
                <p>
                    آیا یک شرکت امدادرسانی دارید؟ آیا می‌خواهید به سامانه‌ی شام‌تارا بپیوندید؟ با پر کردن فرم درخواست عضویت دهید.
                </p>
                <br>
                <hr>
                <p><a href="{% url "apply_for_cooperation" %}" class="btn btn-primary btn-lg btn-block" role="button">
درخواست برای همکاری
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
