{% extends 'layout.html' %}
{% load staticfiles %}

{% block jscss %}
    {{ block.super }}
    <script src="{% static 'components/bootstrap3-typeahead/bootstrap3-typeahead.js' %}"></script>

    <script type="text/javascript">



    </script>

    <style>
    .notif {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid grey;
    }
    </style>
{% endblock %}

{% block menu %}
    {% include "managers/menu.html" %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url "shametara_admin_home" %}">
       صفحه نخست
    </a></li>
    <li>
    ورود مشخصات پرداخت
    </li>
{% endblock %}

{% block container %}
{#    <div style="text-align: center; margin-bottom: 20px"><h4><span class="label label-warning" id="conn_status">New</span></h4></div>#}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
مشخصات پرداخت
                </div>
                <div class="panel-body">
                     {% if pay_recError  %}
                            <div class="alert alert-warning">{{ pay_recError }}</div>
                     {% endif %}
                     {% if success  %}
                            <div class="alert alert-warning">{{ success }}</div>
                     {% endif %}
                    <form method="post" action="/paymentSend" class="form-horizontal"  role="form" id="sendCooperationRequest">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="pay_val" class="col-sm-3 control-label">مبلغ پرداختی</label>
                            <div class="col-sm-9">
                                <input type="text" name="pay_val" class="form-control" id="pay_val"
                                       oninvalid="setCustomValidity('مبلغ پرداختی باید عدد مثبت باشد')"
                                       onchange="try{setCustomValidity('')}catch(e){}" pattern = "([1-9]|[۱-۹])+[0-9]*"placeholder="مبلغ پرداختی" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pay_rec" class="col-sm-3 control-label">شماره‌ی رسید پرداخت</label>
                            <div class="col-sm-9">
                                <input type="text" name="pay_rec" class="form-control" id="pay_rec"
                                       onchange='try{setCustomValidity('')}catch(e){}' oninvalid="setCustomValidity('شماره رسید باید عدد مثبت باشد')"
                                       pattern="([1-9]|[۱-۹])+([0-9]|[۰-۹])*" placeholder="شماره رسید"required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <button type="submit" class="btn btn-default">ارسال رسید</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
