{% load gre_to_per %}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "shametara_admin_home" %}">سامانه‌ی سخاوت</a>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <li><a href="/addHelper">
                اضافه کردن امدادگر جدید
                    </a>
                    <li><a href="/editInformation">
                        ویرایش مشخصات فردی
                    </a>

                </li>

            </ul>


            <ul class="nav navbar-nav navbar-left">
                <p class="navbar-text">
                    <span class="glyphicon glyphicon-time"></span>
                    {{ now | gre_to_per }}
                </p>
                <p class="navbar-text">
                    خوش آمدید
                </p>
                <li><a href="/logOut">
                    خروج
                </a></li>
            </ul>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
    </div><!-- /.container-fluid -->
</nav>
