{% extends 'layout.html' %}
{% load staticfiles %}

{% block jscss %}
    {{ block.super }}
    <script src="{% static 'components/bootstrap3-typeahead/bootstrap3-typeahead.js' %}"></script>
    <script src="{% static 'components/socket.io-client/socket.io.js' %}"></script>

    <script type="text/javascript">
    var socket;
    $(function() {
        socket = io.connect('http://www.huri.ir:8080', { 'force new connection' : true });
        socket.on('connect_error', function() {
            $('#conn_status').html('خطا در اتصال به سرور').removeClass('alert-success')
                    .removeClass('alert-danger')
                    .addClass('alert-warning').show();
        });
        socket.on('reconnect_error', function() {
            $('#conn_status').html('خطا در اتصال دوباره به سرور').removeClass('alert-success')
                    .removeClass('alert-danger')
                    .addClass('alert-warning').show();
        });
        socket.on('reconnect_failed', function() {
            $('#conn_status').html('اتصال دوباره به سرور ناممکن است. لطفا صفحه را دوباره بارگیری کنید.')
                    .removeClass('alert-success')
                    .removeClass('alert-danger')
                    .addClass('alert-warning').show();
        });
        socket.on('welcome', function(data) {
            $('#conn_status').removeClass('alert-warning')
                    .removeClass('alert-danger')
                    .addClass('alert-success')
                    .html('اتصال برقرار شد').show();
            window.setTimeout(function() {
                 $('#conn_status').hide();
            },2000);

            socket.emit('identify', { company_id: $("#company_id").val() });
        });

        socket.on('notif', function(msg) {
            console.log("Notification: ", msg);
            addAlert(msg);
        });

        socket.on('task-canceled', function(msg) {
            removeAlert(msg.task_id);
        });

        socket.on('disconnect', function() {
            $('#conn_status').html('ارتباط با سرور قطع شد').removeClass('alert-success')
                    .removeClass('alert-warning')
                    .addClass('alert-danger');
        });

        socket.on('task-accepted', function(msg) {
            removeAlert(msg.task_id);
        });

        var car = ["ام‌وی‌ام",
            "بنز",
            "بی‌ام‌و",
            "پراید صندوق دار",
            "پراید هاچ‌بک",
            "پژو ۲۰۶‍",
            "پژو ۲۰۶‍ صندوق‌دار",
            "پژو ۲۰۷",
            "پژو ۴۰۵",
            "پژو پارس",
            "پژو روآ / آر‌دی",
            "پیکان",
            "تندر ۹۰",
            "تویوتا",
            "تیبا",
            "دوو",
            "رانا",
            "رنو",
            "زانتیا",
            "سمند",
            "کیا",
            "گل",
            "لیفان",
            "مزدا",
            "نیسان",
            "وانت",
            "هیوندای آزرا",
            "هیوندای سوناتا",
            "هیوندای (غیره)"];
        $("#carModel").typeahead({ source: car});

        var problems = [
                'تمام کردن بنزین',
                'پنجری چرخ',
                'جوش آوردن ماشین',
                'تصادف'
        ];

        $("#problem").typeahead({ source: problems });

        var init_lat = 35.7046415, init_lng = 51.3581155;

        var map = new GMaps({
            el: '#map',
            lat: init_lat,
            lng: init_lng,
            height: '400px'
        });

        $("#latitude").val(init_lat);
        $("#longitude").val(init_lng);

        map.addMarker({
            lat: init_lat,
            lng: init_lng,
            title: 'Marker #1',
            infoWindow: {
                content: "مکان امدادخواه"
            }
        });

        GMaps.on('click', map.map, function (event) {
            var index = map.markers.length;
            var lat = event.latLng.lat();
            var lng = event.latLng.lng();
            map.removeMarkers();
            map.addMarker({
                lat: lat,
                lng: lng,
                title: 'Marker #' + index,
                infoWindow: {
                    content: "مکان امدادخواه"
                }
            });
            $("#latitude").val(lat);
            $("#longitude").val(lng);
        });

        $("#address").keypress(function(key) {
            if (key.keyCode == 13) {
                GMaps.geocode({
                    address: $('#address').val(),
                    callback: function (results, status) {
                        if (status == 'OK') {
                            var latlng = results[0].geometry.location;
                            map.setCenter(latlng.lat(), latlng.lng());
                            map.addMarker({
                                lat: latlng.lat(),
                                lng: latlng.lng()
                            });
                        }
                    }
                });
                return false;
            }
        });

{#        $("#sendToSekhavat").submit(function(event) {#}
{#            event.preventDefault();#}
{#            console.log(map.markers);#}
{#            socket.emit('emdaad', {#}
{#                name: $("#rescueName").val(),#}
{#                phoneNumber: $("#phoneNumber").val(),#}
{#                carModel: $("#carModel").val(),#}
{#                problem: $("#problem").val(),#}
{#                position: {#}
{#                    lat: map.markers[0].getPosition().lat(),#}
{#                    lng: map.markers[0].getPosition().lng()#}
{#                }#}
{#            });#}
{#            return false;#}
{#        });#}
        $("#sendToSekhavat").submit(function(event) {
{#            event.preventDefault();/#}
        });
    });

    function addAlert(msg) {
        console.log(msg);
        var self_company_id = parseInt($("#company_id").val());
        var company = (msg.sender_company_id == '-1') ? 'سامانه‌ی خادم' : msg.sender_company_name;
        var emdaadgar;
        for (var i = 0; i < msg.options.length; i++) {
            if (msg.options[i].company_id == self_company_id) {
                emdaadgar = msg.options[i].helper_name;
                break;
            }
        }

        var html = "<div class=\"alert alert-warning rescue\" id=\"msg_" + msg.task_id + "\">" +
                        "<b class=\"rescue\">" + company + "</b><br />" +
                        "متقاضی استفاده از امدادگر " +
                        "<b>" + emdaadgar + "</b> است.<br />" +
                        "<div style=\"text-align: left; padding-top: 7px\">" +
                            "<button class=\"btn btn-success\" onclick=\"accept(" + msg.task_id + ");\">قبول امداد</button> " +
                            "<button class=\"btn btn-danger\" onclick=\"cancel(" + msg.task_id + ");\">رد امداد</button>" +
                        "</div>" +
                    "</div>";

        $(html).prependTo($("#alerts"));
    }

    function removeAlert(msg_id) {
        $("#msg_" + msg_id).remove();
    }

    function accept(tskid) {
        socket.emit('accept', { task_id: tskid });
    }

    function cancel(tskid) {
        socket.emit('cancel', { task_id: tskid });
    }

    </script>

    <style>
    .notif {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid grey;
    }
    </style>
{% endblock %}

{% block menu %}
    {% include 'menu.html' %}
{% endblock %}

{% block container %}
    <div id="conn_status" class="alert alert-warning" style="display: none"></div>
{#    {% if messages %}#}
{#        {% for message in messages %}#}
{#            <div id="help_status" class="alert alert-primary">#}
{#                {{ message }}#}
{#            </div>#}
{#        {% endfor %}#}
{#    {% endif %}#}
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    ارجاع امداد به سخاوت
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" id="sendToSekhavat" role="form" action="/helpdesk/add-help" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="rescueName" class="col-sm-2 control-label">نام امدادخواه</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="rescueName" name="rescueName" placeholder="نام امدادخواه" pattern="[آ-ی]+">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber" class="col-sm-2 control-label">تلفن همراه</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="تلفن همراه" pattern="[0۰][۹9][0-9۰-۹]{9}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="carModel" class="col-sm-2 control-label">مدل ماشین</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="carModel" name="carModel" data-provide="typeahead" placeholder="مدل ماشین" pattern="[آ-ی۰-۹ ]+">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="problem" class="col-sm-2 control-label">مورد امداد</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="problem" name="problem" data-provide="typeahead" placeholder="مورد امداد" pattern="[آ-ی]+">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-sm-2 control-label">آدرس حدودی</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="address" name="address" placeholder="آدرس">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="map" class="col-sm-2 control-label">مکان امدادخواه</label>
                            <div class="col-sm-10">
                                <div id="map"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">ثبت امداد در سخاوت</button>
                            </div>
                        </div>
                        <input type="hidden" name="latitude" id="latitude" />
                        <input type="hidden" name="longitude" id="longitude" />
                        <input type="hidden" name="company_id" id="company_id" value="{{ company_id }}" />
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    لیست درخواست‌های امداد به شما
                </div>
                <div class="panel-body" id="alerts">
                   <!--  <div class="alert alert-info">
                        <b class="rescue"> ایران خودرو</b><br />
                        متقاضی استفاده از امدادگر
                        <b>عباس عباسی</b> است.<br />
                        <div style="text-align: left; padding-top: 7px">
                            <button class="btn btn-success">قبول امداد</button>
                            <button class="btn btn-danger">رد امداد</button>
                        </div>
                    </div>
                    <div class="alert alert-warning rescue">
                        <b class="rescue">پارس خزر</b><br />
                        متقاضی استفاده از امدادگر
                        <b>داریوش اقبالی</b> است.<br />
                        <div style="text-align: left; padding-top: 7px">
                            <button class="btn btn-success">قبول امداد</button>
                            <button class="btn btn-danger">رد امداد</button>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
