{% extends 'layout.html' %}
{% load staticfiles %}

{% block jscss %}
    {{ block.super }}
    <script src="{% static 'components/bootstrap3-typeahead/bootstrap3-typeahead.js' %}"></script>
    <script src="{% static 'components/socket.io-client/socket.io.js' %}"></script>

    <script type="text/javascript">
    $(function() {
        var socket = io.connect('http://localhost:8080', { 'force new connection' : true });
        socket.on('connect_error', function() {
            $('#conn_status').html('خطا در اتصال به سرور');
        });
        socket.on('reconnect_error', function() {
            $('#conn_status').html('خطا در اتصال دوباره به سرور');
        });
        socket.on('reconnect_failed', function() {
            $('#conn_status').html('اتصال دوباره به سرور ناممکن است. لطفا صفحه را دوباره بارگیری کنید.');
        });
        socket.on('welcome', function(data) {
            $('#conn_status').html('اتصال برقرار شد');
        });
        socket.on('notification', function(msg) {
            console.log("Notification: ", msg)
        });
        socket.on('disconnect', function() {
            $('#conn_status').html('ارتباط با سرور قطع شد');
        });
        var car = ["ام‌وی‌ام",
            "بنز",
            "بی‌ام‌و",
            "پراید صندوق دار",
            "پراید هاچ‌بک",
            "پژو ۲۰۶‍",
            "پژو ۲۰۶‍ صندوق‌دار",
            "پژو ۲۰۷",
            "پژو ۴۰۵",
            "پژو پارس",
            "پژو روآ / آر‌دی",
            "پیکان",
            "تندر ۹۰",
            "تویوتا",
            "تیبا",
            "دوو",
            "رانا",
            "رنو",
            "زانتیا",
            "سمند",
            "کیا",
            "گل",
            "لیفان",
            "مزدا",
            "نیسان",
            "وانت",
            "هیوندای آزرا",
            "هیوندای سوناتا",
            "هیوندای (غیره)"];
        $("#carModel").typeahead({ source: car});

        var problems = [
                'تمام کردن بنزین',
                'پنجری چرخ',
                'جوش آوردن ماشین',
                'تصادف'
        ];

        $("#problem").typeahead({ source: problems });

        var map = new GMaps({
            el: '#map',
            lat: -12.043333,
            lng: -77.028333,
            height: '400px'
        });

        GMaps.on('click', map.map, function (event) {
            var index = map.markers.length;
            var lat = event.latLng.lat();
            var lng = event.latLng.lng();
            map.removeMarkers();
            map.addMarker({
                lat: lat,
                lng: lng,
                title: 'Marker #' + index,
                infoWindow: {
                    content: "مکان امدادخواه"
                }
            });
        });

        $("#address").keypress(function(key) {
            if (key.keyCode == 13) {
                GMaps.geocode({
                    address: $('#address').val(),
                    callback: function (results, status) {
                        if (status == 'OK') {
                            var latlng = results[0].geometry.location;
                            map.setCenter(latlng.lat(), latlng.lng());
                            map.addMarker({
                                lat: latlng.lat(),
                                lng: latlng.lng()
                            });
                        }
                    }
                });
                return false;
            }
        });

        $("#sendToSekhavat").submit(function(event) {
            event.preventDefault();
            socket.emit('emdaad', {
                name: $("#rescueName").val(),
                phoneNumber: $("#phoneNumber").val(),
                carModel: $("#carModel").val(),
                problem: $("#problem").val(),
                position: {
                    lat: map.markers[0].position.lat(),
                    lng: map.markers[0].position.lng()
                }
            });
            return false;
        });
    });

    </script>
{% endblock %}

{% block container %}
    {{ block.super }}
    <div id="conn_status"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            ارجاع امداد به سخاوت
        </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" id="sendToSekhavat">
                <div class="form-group">
                    <label for="rescueName" class="col-sm-2 control-label">نام امدادخواه</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="rescueName" placeholder="نام امدادخواه">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber" class="col-sm-2 control-label">تلفن همراه</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="phoneNumber" placeholder="تلفن همراه">
                    </div>
                </div>
                <div class="form-group">
                    <label for="carModel" class="col-sm-2 control-label">مدل ماشین</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="carModel" data-provide="typeahead" placeholder="مدل ماشین">
                    </div>
                </div>
                <div class="form-group">
                    <label for="problem" class="col-sm-2 control-label">مورد امداد</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="problem" data-provide="typeahead" placeholder="مورد امداد">
                    </div>
                </div>
                <div class="form-group">
                    <label for="address" class="col-sm-2 control-label">آدرس حدودی</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="address" placeholder="آدرس">
                    </div>
                </div>
                <div class="form-group">
                    <label for="map" class="col-sm-2 control-label">مکان امدادخواه</label>
                    <div class="col-sm-10">
                        <div id="map"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">ثبت امداد در سخاوت</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
