{% extends "layout.html" %}

{% block menu %}
    {% include "managers/menu.html" %}
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    نقشه‌ی امدادگران
                </div>
                <div class="panel-body">
                    test
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    گزارش رضایت مشتریان
                </div>
                <div class="panel-body">
                    test
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    نقشه‌ی امدادگران
                </div>
                <div class="panel-body">
                    test
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    گزارش رضایت مشتریان
                </div>
                <div class="panel-body">
                    test
                </div>
            </div>
        </div>
    </div>
{% endblock %}