{% load gre_to_per %}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "shametara_admin_home" %}">سامانه‌ی سخاوت</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">گزارش‌گیری<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url "shametara_admin_report_map" %}">نقشه‌ی امدادگران</a></li>
                        <li><a href="{% url "shametara_admin_report_helper" %}">گزارش امداد</a></li>
                        {% if userrole == 'admin' %}
                        <li><a href="{% url  "check_requests"%}">گزارش درخواست همکاری</a></li>
                        {% endif %}

                        {% if userrole == 'manager' %}
                            <li><a href="{% url "company_uptime" %}">
                                زمان آماده به کار بودن امدادگران
                            </a></li>
                        {% endif %}
                        <li class="divider"></li>
                        <li><a href="{% url "shametara_admin_report_financial" %}">
                            گزارش‌های مالی
                        </a></li>
                        <li class="divider"></li>
                        <li><a href="{% url "shametara_admin_report_satisfaction" %}">
                            رضایت‌سنجی امدادخواهان
                        </a></li>
                        {% if userrole == 'admin' %}
                            <li><a href="{% url "shametara_admin_report_satisfaction_khadem_only" %}">
                                رضایت‌سنجی امدادخواهان خادم
                            </a></li>
                        {% endif %}
                    </ul>
                </li>
                {% if userrole == 'admin' %}
                    <li><a href="/addCompany">
                    اضافه کردن شرکت جدید
                {% else %}
                    <li><a href="/addOperator">
                        اضافه کردن اپراتور جدید
                    </a></li>
                {% endif %}
                </a></li>
                <li><a href="/editInformation">
                        ویرایش مشخصات فردی
                </a>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <p class="navbar-text">
                    <span class="glyphicon glyphicon-time"></span>
                    {{ now | gre_to_per }}
                </p>
               <p class="navbar-text">
                   {% if userrole == 'admin' %}
خوش آمدید مدیر شام‌تارا
                   {% elif userrole == 'manager' %}
                   خوش آمدید مدیر شرکت
                   {{ user.company.name }}
                   {% endif %}
                </p>
                <li><a href="/logOut">
                    خروج
                </a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

