@font-face
{
  font-family: BYekan;
  src: url('font/BYekan.ttf');
}

* {
  font-family: BYekan !important;
  font-weight: normal;
}

.mapoverlay {
  opacity: 0.9;
  background-color: #52A6D6;
  color:  white;
  padding: 8px 12px;
  border-radius: 3px;
  position: relative;
}

.mapoverlay:after, .mapoverlay:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.mapoverlay:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #52A6D6;
  border-width: 8px;
  margin-left: -8px;
}

.footer {
  text-align: center;
  margin-bottom: 20px;
}

.legend{
  text-align: right;
  .color {
    width: 12px;
    height: 12px;
    border-radius: 3px;
    display: inline-block;
  }
  .desc {
    display: inline;
  }
}

